.checkoutproduct{
   display: flex;
   margin-bottom: 20px;
   margin-top: 20px;
}

.checkoutproduct__info{
    padding-left: 20px;
}

.checkoutproduct__img{
  width:180px ;
  height: 180px;
  object-fit: contain;
}
.chekoutproduct__btn{
    background-color: #f0c14b;
    border: 1px solid;
    border: 1px solid;
    margin-top: 10px;
    padding: 5px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    cursor: pointer;

}
.checkoutproduct__rating{
    display: flex;
}
.checkoutproduct__title{
    font-size: 17px;
    font-weight: 800;
}
